:root {
  --dark-blue: #0e082b;
  --light-red: #da4c4c;
  --header-secondary-color: #fff;
  --header-primary-color: #E4E3E8;
  --overlay-section-background-color: #E9EAF6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  /*font-family: "Helvetica", "sans-serif";*/
  font-family: "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--header-primary-color);
  width: fit-content;
  max-width: 100%;
}

html {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
}


body {
  max-width: 943px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 750px;
  max-width: 750px;
}

nav {
  width: 790px;
  max-width: 790px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-bottom: 40px;
  align-items: center;
}

header {
  align-self: flex-start;
  padding-bottom: 16px;
}

a {
  font-size: large;
  border-radius: 5px;
  border: 1px solid #00000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  height: 1px;
  flex-grow: 1;
  margin: 0px 16px;
}

nav a {
  padding: 10px 20px;
}

nav a:hover {
  border: 1px solid white;
}

body {
  display: flex;
  flex-direction: column;
  padding: 96px;
}

h1 {
  padding-bottom: 12px;
  font-size: 3rem;
}

h2 {
  justify-self: start;
  align-self: flex-start;
  padding-bottom: 16px;
  font-size: 1.25rem;
}

p {
  line-height: 1.5rem;
}

.content-section {
  padding-top: 16px;
}

.content-element {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid white;
}

.padding_16px {
  padding-bottom: 42px;
}

.padding_16px:last-child {
  padding-bottom: 0;
}

.content-section h2 {
  padding: 20px 0;
}

.content-section h3 {
  background-color: var(--dark-blue);
  margin-left: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  margin-top: -48px;
  margin-bottom: 16px;
}


tr {
  width: 100%;


}

tr {
  white-space: nowrap;
  overflow: hidden;
  padding: 16px 0;
}

td {
  width: 50%;
  padding: 16px 0;
}

td,
p,
span {
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 20px;
}

li {
  padding: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

li a {
  font-size: medium;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}



@media screen and (max-width:900px) {
  body {
    width: 100%;
    padding: 32px 16px;
  }

  h1 {
    font-size: 2rem;
  }
}